.stocks-container {
    height: 720px;
}

#stocks {
    height: 100%;
}

.services .service {
    height: 475px;
    padding: 0;
}

.services .service .content {
    height: 100%;
    position: relative;
    padding: 150px 0 0 50px;
    z-index: 2; 
}

.services .service button {
    width: 150px;
}

.service .service:hover > i{
    cursor: pointer;
    visibility: hidden;
}

.services .service:hover .content{
    visibility: hidden;
}

.services .service > i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.container-fluid {
    padding: 0;
}