@media (max-width: 991.98px) { 
    .header > .form {
        height: 400px;
    }
}

@media (min-width: 992px) {
    .header > .form {
        height: 200px;
    }
}

.stocks-container {
    height: 720px;
}

#stocks {
    height: 100%;
}

.services .service {
    height: 475px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;    
}

.services .service .content {
    height: 100%;
    position: relative;
    padding: 150px 0 0 50px;
    z-index: 2; 
    color: white;
}

.services .service button {
    width: 150px;
    border: 3px solid white;
}

.service .service:hover > i{
    cursor: pointer;
    visibility: visible;
}

.services .service:hover .content{
    visibility: hidden;
}

.services .service > i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

.header > .form {
    box-shadow: 0 0 20px black inset; 
    background-color: rgb(15, 16, 17);
}

.form > .text > h3 {
    color: white;
    text-align: center;
}

row {
    width: 100%;
}