@media (max-width: 991.98px) { 
    .header > .form {
        height: 450px;
    }
}

@media (min-width: 992px) {
    .header > .form {
        height: 200px;
    }
}

.stocks-container {
    height: 720px;
}

#stocks {
    height: 100%;
}

.services .service {
    height: 475px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;    
}

.services .service .content {
    height: 100%;
    position: relative;
    padding: 150px 0 0 50px;
    z-index: 2; 
    color: white;
    transition-duration: .5s;
}

.services .service button {
    width: 150px;
    border: 3px solid white;
}
.services .service:hover .content{
    opacity: 0;
}

.services .service > i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.services .service .icon-btn {
    opacity: 0;
    color: white;
    position: absolute;
    transition-duration: .5s;
    cursor: pointer;
    z-index: 3;
}
.services .service:hover .icon-btn {
    opacity: 1;
}

.header > .form {
    box-shadow: 0 0 20px black inset; 
    background-color: rgb(15, 16, 17);
}

.form > .text > h3 {
    color: white;
    text-align: center;
}

row {
    width: 100%;
}

.modal .service1 {
    background-color: white;
}

#him {
    height: 300px;
}

.him-items {
    height: 100%;
}

.him-items item{
    border: 1px solid black;
    height: 250px;
    width: 250px;
}

.him-slide-content{
    border: 1px solid black;
    height: 100%;
}

#him .swiper-wrapper {
    width: 90%;
    margin: 0;
}