*:focus{
    outline: none;
}

@media (max-width: 991.98px) { 
    .header > .form {
        height: 450px;
    }
    #map {
        height: 300px !important;
    }
}

@media (min-width: 992px) {
    .header > .form {
        height: 200px;
    }
}

.stocks-container {
    height: 720px;
}

#stocks {
    height: 100%;
}

#stocks .swiper-slide {
    color: white;
    background-position-x: right;
    background-repeat: no-repeat;
}

#stocks .swiper-slide > .row{
    background-color: rgba(0,0,0,0.8);
    font-size: 20px;
}

#stocks .swiper-pagination-bullet {
    background-color: black;
    border: 1px solid white;
}

#stocks .swiper-pagination-bullet {
    background-color: white;
    border: 1px solid white;
}

.stocks-row i {
    color: white;
    cursor: pointer;
}

.stocks-row .swiper-button-prev-mine:focus, .stocks-row .swiper-button-next-mine:focus {
    outline: none;
}

.stocks-row .swiper-button-disabled i {
    color: grey !important;
    cursor: pointer;
}

.timer > span {
    font-size: 45px;
    font-weight: bold;
}

.timer > div {
    font-size: 20px;
    text-align: center;
}

.swiper-slide .price {
    font-size: 30px;
}

.swiper-slide .price_old {
    color: grey;
    text-decoration: line-through;
}

.swiper-slide a{
    background-color: #1B90A1;
    width: 150px;
    color: white;
}

.services .service {
    height: 475px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;  
    position: relative;  
}

.services .service::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);  
  z-index: 1;
}

.services .service .content {
    height: 100%;
    position: relative;
    padding: 150px 0 0 50px;
    z-index: 2; 
    color: white;
    transition-duration: .5s;
}

.services .service button {
    width: 150px;
    border: 3px solid white;
}
.services .service:hover .content{
    opacity: 0;
}

.services .service > i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.services .service .icon-btn {
    opacity: 0;
    color: white;
    position: absolute;
    transition-duration: .5s;
    cursor: pointer;
    z-index: 3;
}
.services .service:hover .icon-btn {
    opacity: 1;
}

.header > .form {
    box-shadow: 0 0 20px black inset; 
    background-color: rgb(15, 16, 17);
}

.form > .text > h3 {
    color: white;
    text-align: center;
}

row {
    width: 100%;
}

.modal .service1 {
    background-color: white;
}

#him {
    height: 300px;
}

.him-items {
    height: 100%;
}

.him-items item{
    border: 1px solid black;
    height: 250px;
    width: 250px;
}

.him-slide-content{
    border: 1px solid black;
    height: 100%;
}

#him .swiper-wrapper {
    margin: 0;
}

.top-menu {
    height: 100px;
}

.navbar-nav .active {
    background-color: #1B90A1;
    border-radius: 25%/60%;
    box-shadow: 0 0 20px white;
}

.nav-item {
    width: 135px;
}

.navbar-nav .nav-link {
    height: 100%;
    width: 100%;
}

.navbar-nav .nav-link:hover {
    background-color: #1B90A1;
    border-radius: 25%/60%;
    box-shadow: 0 0 20px white;
}

.him-items .swiper-button-prev-mine:focus, .him-items .swiper-button-next-mine:focus {
    outline: none;
}

.him-items .swiper-button-prev-mine, .him-items .swiper-button-next-mine {
    cursor: pointer;
}

.him-items .swiper-button-disabled i {
    color: grey !important;
    cursor: pointer;
}

#him .item h4, #him .item h5 {
    height: 70px;
}

.devices-block {
    background-image: url('../resources/img/devices-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.pagination-btn {
    cursor: pointer;
}

.photos-block {
    background-color: rgb(15, 16, 17);
    color: white;
}

#photo-slider .img{
    border: 5px solid black;
}

#photo-slider-nav .slide img{
    height: 100px;
    cursor: pointer;
    border: 1px solid black;
}

.header .basket:hover {
    cursor: pointer;
    transform: rotate(10deg);
}

#map {
    height: 500px;
    border: 1px solid white;
}

.footer {
    background-color: black;
    color: white;
}

.address {
    font-size: 30px;
}

#basket li i {
    float: right;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}

#basket li {
}