*:focus {
    outline: none;
}

@media (max-width: 991.98px) {
    .header>.form, section>.form {
        height: 450px;
    }
    #map {
        height: 300px !important;
    }
}

@media (min-width: 992px) {
    .header>.form, section>.form {
        height: 200px;
    }
}

.stocks-container {
    height: 720px;
}

#stocks {
    height: 100%;
}

#stocks .swiper-slide {
    color: white;
    background-position-x: right;
    background-repeat: no-repeat;
}

#stocks .swiper-slide>.row {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
}

#stocks .swiper-pagination-bullet {
    background-color: black;
    border: 1px solid white;
}

#stocks .swiper-pagination-bullet {
    background-color: white;
    border: 1px solid white;
}

.stocks-row i {
    color: white;
    cursor: pointer;
}

.stocks-row .swiper-button-prev-mine:focus, .stocks-row .swiper-button-next-mine:focus {
    outline: none;
}

.stocks-row .swiper-button-disabled i {
    color: grey !important;
    cursor: pointer;
}

.timer>span {
    font-size: 45px;
    font-weight: bold;
}

.timer>div {
    font-size: 20px;
    text-align: center;
}

.swiper-slide .price {
    font-size: 30px;
}

.swiper-slide .price_old {
    color: grey;
    text-decoration: line-through;
}

.swiper-slide a {
    background-color: #1B90A1;
    width: 150px;
    color: white;
}

.services .service {
    height: 475px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.services .service::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.services .service .content {
    height: 100%;
    position: relative;
    padding: 150px 0 0 50px;
    z-index: 2;
    color: white;
    transition-duration: .5s;
}

.services .service button {
    width: 150px;
    border: 3px solid white;
}

.services .service:hover .content {
    opacity: 0;
}

.services .service>i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.services .service .icon-btn {
    opacity: 0;
    color: white;
    position: absolute;
    transition-duration: .5s;
    cursor: pointer;
    z-index: 3;
}

.services .service:hover .icon-btn {
    opacity: 1;
}

.header>.form, section>.form {
    box-shadow: 0 0 20px black inset;
    background-color: #030406;
}

.form>.text>h3 {
    color: white;
    text-align: center;
}

row {
    width: 100%;
}

.modal-content, .modal-header, .modal-footer {
    border: none !important;
}

.modal-header, .modal-footer {
    background-color: #3A3C51 !important;
}

.modal-backdrop {
    opacity: 0.75 !important;
}

#him {
    height: 300px;
}

.him-items {
    height: 100%;
}

.him-items .item {
    background-color: white;
    color: black;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px, transparent 30px, transparent 40px);
    background-color: rgba(232, 252, 255, 1);
}

.him-slide-content .btn {
    height: 40px;
    font-size: .8em;
}

.him-slide-content .alert {
    font-size: .75em;
}

.him-slide-content {
    border: 1px solid black;
    height: 100%;
}

#him .swiper-wrapper {
    margin: 0;
}

.top-menu {
    height: 100px;
}

.navbar-nav .active {
    background-color: #1B90A1;
    border-radius: 25%/60%;
    box-shadow: 0 0 20px white;
    border: none;
}

.nav-item {
    width: 135px;
}

.navbar-nav .nav-link {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid white;
}

.navbar-nav .nav-link:hover {
    background-color: #1B90A1;
    border-radius: 25%/60%;
    box-shadow: 0 0 20px white;
}

.him-items .swiper-button-prev-mine:focus, .him-items .swiper-button-next-mine:focus {
    outline: none;
}

.him-items .swiper-button-prev-mine, .him-items .swiper-button-next-mine {
    cursor: pointer;
}

.him-items .swiper-button-disabled i {
    color: grey !important;
    cursor: pointer;
}

#him .item h4, #him .item h5 {
    height: 70px;
}

.devices-block {
    background-image: url('../resources/img/devices-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.pagination-btn {
    cursor: pointer;
}

.photos-block {
    background-color: #030406;
    color: white;
}

/*
    background-color: rgb(15, 16, 17);
*/

#photo-slider .img {
    border: 5px solid black;
}

#photo-slider-nav .slide img {
    height: 100px;
    cursor: pointer;
    border: 1px solid black;
}

#map {
    height: 500px;
    border: 1px solid white;
}

.footer {
    background-color: black;
    color: white;
}

.address {
    font-size: 30px;
}

.header .menu {
    background-color: #030406;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}

.devices-block img, .stocks-slider .stock-slide-content {
    background-image: url('../resources/img/devices/btl.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
}

.stocks-slider {
    background-color: rgba(0, 0, 0, 1);
}

.about {
    color: white;
    background-color: black;
    padding-bottom: 75px;
}

.about .pic {
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 23px;
    padding-left: 2px;
    font-size: 36px;
}

.about .pic1 {
    background-image: url('../resources/img/step_01.png');
}

.about .pic2 {
    margin-top: 100px;
    background-image: url('../resources/img/step_02.png');
}

.about .pic3 {
    background-image: url('../resources/img/step_01.png');
}

.about .pic4 {
    margin-top: 100px;
    background-image: url('../resources/img/step_02.png');
}

.about .pic5 {
    background-image: url('../resources/img/step_01.png');
}

.el {
    height: 250px;
}

.el .text {
    font-size: 1.1em;
}

.text-shadow {
    text-shadow: 2px 2px 5px black;
}

.stock-btn {
    text-shadow: none;
}

#stocks .slide3 {
}

.modal-body .panel a {
    text-decoration: underline;
    color: white;
}

.panel-title i {
    font-size: 2em !important;
}

.modal .slider .slide .item {
    margin: 1em;
    min-height: 250px;
    border: 3px solid white;
    border-radius: 30px;
}

.modal-content hr {
    border-top: 1px solid rgba(255, 255, 255, 0.75);
}

.modal-content .lists {
    min-height: 170px;
}

ol {
    min-height: 150px;
}

@media (max-width:668px){
    .modal-content {
        font-size: 1em;
    }

    .modal-content h5 {
        font-size: 1.25em !important;
    }
}

@media (max-width:568px){
    .modal-content {
        font-size: 0.8em;
    }
}

.pointer{
    cursor: pointer;
}

.servicemodal {
    font-family: 'Conv_6444';
    background-color: #161616;
    background-size: 100%;
    background-repeat: no-repeat;
}
.servicemodalheader {
    font-family: 'Conv_6444';
    color: white;
    background-image: url('../resources/img/Modals/caseclean-header.png');
}
.servicemodalheader i {
    color: white;
}

.modal-caseclean {
    background-image: url('../resources/img/Modals/caseclean.png');
    min-height: 650px;
}

.modal-caseclean-header .text-title {
    font-size: 2rem ;
}

.little {
    font-size: 1.5rem !important;
}

.modal-dryclean {
    background-image: url('../resources/img/Modals/dryclean.png');
}

.modal-lapdefense {
    background-image: url('../resources/img/Modals/lapdefense.png');
}

.modal-polir {
    background-image: url('../resources/img/Modals/polir.png');
}

.modal-antirain {
    background-image: url('../resources/img/Modals/antirain.png');
}

.modal-addserv {
    background-image: url('../resources/img/Modals/addserv.png');
}

.modal-ceramic {
    background-image: url('../resources/img/Modals/ceramic.png');
}

.modal-lkpdefense {
    background-image: url('../resources/img/Modals/lpkdefense.png');
}

@media (max-width:668px){
    .modal-caseclean {
        background-size: 100%;
    }
    
    .modal-caseclean-header .text-title {
        font-size: 1rem !important;
    }

    .icons {
        margin-left: 0rem;
    }
    
    .icons .icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;   
    }
}
@media (max-width: 814px){
    .tooltip-inner {
        max-width: 20rem !important;
        width: 20rem;
    }

    .icons {
        margin-left: 0rem;
    }
    
    .icons .icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;   
    }
}
@media (min-width: 815px){
    .tooltip-inner {
        max-width: 25rem !important;
        width: 25rem;
    }

    .icons {
        margin-left: 15rem;
    }
    
    .icons .icon {
        display: inline-block;
        width: 3.5rem;
        height: 3.5rem;   
    }
}
@media (max-width: 668px){
    .tooltip-inner {
        font-size: .7rem;
    }
    
}
.card {
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem !important;
    box-shadow: 0 0 20px black;
}

.card-body {
    border-radius: 1.25rem 1.25rem 0 0 !important;
    border-bottom: 3px solid black;
    min-height: 147px;
    /*background-color: rgba(175, 175, 175,.45);*/
    color: white;
    background-color: #727271;
}

.card-title {
    text-align: center;
}

.more-info {
    color: black;
    text-decoration: underline !important;
    font-size: .85rem;
    cursor: pointer;
}

.more-info:hover {
    color: black;
}

.card-footer {
    height: 2.25rem;
    border-radius: 0 0 1.25rem 1.25rem !important;
}

.sign-btn {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 0 1.25rem 1.25rem !important;
}

.form-btn {
    border-radius: 2rem;
    height: 2.5rem;
    box-shadow: 0 0 20px white;
    transition-duration: .5s;
}

.form-btn:hover {
    box-shadow: none;
}

.fw {
    font-weight: bolder;
    font-size: .9rem;
}

.first-card-block {
    margin-top: 25%;
}

.card-title {
    font-size: 1rem;
}

.tooltip-inner {
}

.icons .icon {
}

.wa {
    background-image: url('../resources/img/wa.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.vk {
    background-image: url('../resources/img/vk.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.inst {
    background-image: url('../resources/img/inst.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: white;
}

.footer-text {
    color: rgba(255,255,255,0.75);
}

.sign-btn {background-color: rgba(175, 175, 175,.45)};
.sign-btn-1 {background-color: #727271};
.sign-btn-2 {background-color: #565655};
.sign-btn-3 {background-color: #565655};
.sign-btn-4 {background-color: #565655};
.sign-btn-5 {background-color: #565655};
.sign-btn-6 {background-color: #565655};

.modal .basketModal, .modal .formModal, .modal .service1, .modal .service2, .modal .service4, .modal .service5, .modal .service6, .modal .service7, .modal .service8 {
    background: rgba(11, 32, 51, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(11, 32, 51, 1) 0%, rgba(11, 32, 51, 0.98) 11%, rgba(11, 32, 51, 1) 11%, rgba(11, 32, 51, 1) 17%, rgba(2, 10, 18, 1) 70%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(11, 32, 51, 1)), color-stop(11%, rgba(11, 32, 51, 0.98)), color-stop(11%, rgba(11, 32, 51, 1)), color-stop(17%, rgba(11, 32, 51, 1)), color-stop(70%, rgba(2, 10, 18, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(11, 32, 51, 1) 0%, rgba(11, 32, 51, 0.98) 11%, rgba(11, 32, 51, 1) 11%, rgba(11, 32, 51, 1) 17%, rgba(2, 10, 18, 1) 70%);
    background: -o-radial-gradient(center, ellipse cover, rgba(11, 32, 51, 1) 0%, rgba(11, 32, 51, 0.98) 11%, rgba(11, 32, 51, 1) 11%, rgba(11, 32, 51, 1) 17%, rgba(2, 10, 18, 1) 70%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(11, 32, 51, 1) 0%, rgba(11, 32, 51, 0.98) 11%, rgba(11, 32, 51, 1) 11%, rgba(11, 32, 51, 1) 17%, rgba(2, 10, 18, 1) 70%);
    background: radial-gradient(ellipse at center, rgba(11, 32, 51, 1) 0%, rgba(11, 32, 51, 0.98) 11%, rgba(11, 32, 51, 1) 11%, rgba(11, 32, 51, 1) 17%, rgba(2, 10, 18, 1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b2033', endColorstr='#020a12', GradientType=1);
    color: white;
}